.homepage {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 100px;
  .input-form {
    margin: 40px;
  }
}
.card-show {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
