* {
  box-sizing: border-box;  
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;  
}
.header {
  border: 2px solid rgb(122, 162, 231);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(196, 237, 237);
  width: 100%;

  .logo-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin: 10px 20px;  
    align-items: center;

    .logo {
      border: 2px solid rgb(184, 164, 128);
      width: 50px;
      height: 50px;
    }
  }

  .navbar {
    flex: 5;
    padding: 10px;
  }

  @media (max-width: 720px) {
    flex-direction: column;
    align-items: center;

    .logo-container {
      justify-content: center;
      margin: 10px auto;
    }

    .navbar {
      width: 100%;
      padding: 10px 20px;
    }
  }
}
