.favorites-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 10px auto;
  max-width: 1200px;
  justify-items: center;
}

.favorite-card {
  border: 1px solid #2c2a2a;
  border-radius: 8px;
  padding: 0.5rem;
  width: 100%;
  max-width: 150px;
  text-align: center;
  background-color: #93b89f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  transition: transform 0.2s ease;

  .favorite-btn {
    background-color: #93b89f;
    border: #93b89f;
    &:hover {
      transform: translateY(-4px);
    }
  }

  &:hover {
    transform: translateY(-4px);
  }

  .book-image {
    width: 100px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.rating-input,
.numberofpages-inout {
  width: 70px;
}
.review-inout {
  width: 100px;
}


@media (max-width: 720px) {
  .favorites-list {
    padding: 10px;
    gap: 10px;
  }

  .favorite-card {
    max-width: 100%;
    width: 100%;
  }

  .book-image {
    width: 80px;
    height: 100px;
  }

  .rating-input,
  .numberofpages-inout,
  .review-inout {
    width: 100%;
  }
}
