.footer{
  border: 2px solid rgb(122, 162, 231);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(196, 237, 237);
  .contact{
    flex: 1;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about{
    flex: 1;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}